<template>
  <div class="login-view">
    <app-card>
      <form @submit.prevent="testAuth" action="" class="form">
        <!-- <text-input label="Email" placeholder="suzedoe@gmail.com" input-type="email" :model="email"/> -->
        <!-- {{email}} -->
        <app-button label="Continue with Facebook." @click="tryFB" style="background: #3b5998" />
<hr />
        <button @click="testAuth">Test Auth</button>

      </form>
       <div v-for="post in posts" :key="post._id">
      {{ post.content }}
    </div>
    </app-card>
  </div>
</template>
<script>
import AppCard from '@/components/Card'
import TextInput from '@/components/Forms/TextInput'
import AppButton from '@/components/Action/Button'
import FacebookAuthentication from '../../../Services/FacebookAuth'

const fb = new FacebookAuthentication()

let ctx = {}

export default {
  components: { AppCard, TextInput, AppButton },
  data () {
    return {
      email: '',
      facebook: {},
      posts: []
    }
  },
  mounted () {
    fb.init((fb, status) => {
      this.facebook = status
      console.log(this.facebook.authResponse)
      fb.getLoginStatus()
      ctx = fb
    })
  },
  methods: {
    tryFB () {
      if (this.facebook.status !== 'connected') {
        ctx.login((response) => {
          console.log(response)
        }, { scope: 'email public_profile' })
      } else {
        fb.authenticateWithServer(this.facebook)
      }
    },
    testAuth () {
      this.$http.get('http://localhost:9021/entry', {
        withCredentials: true,
        headers: {
          'Accept': 'application/json',
          'Content-Type': 'application/json'
        }
      })
        .then(res => {
          this.posts = res.data
          // alert(res)
        })
        .catch(e => console.log('**EROORRRR*', e))
    }
  }
}
</script>
<style lang="scss" scoped>
@import '../../../scss/variables.scss';

.form {
  padding: 100px;
}

.login-view {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background: $default-gradient;
}
</style>
