<template>
  <div class="list">
    <list-item
      v-for="item in data"
      :key="item.key"
      :label="item.label"
      :url="item.url"
      :icon="item.icon"
    />
  </div>
</template>
<script>
import ListItem from './ListItem'

export default {
  components: { ListItem },
  props: {
    data: {
      type: Array,
      required: true
    }
  }
}
</script>
<style lang="scss" scoped>
.list {
  width: 100%;
  display: flex;
  flex-direction: column;
}
</style>
