<template>
  <header class="header">
    <div class="logo-container">
      <AppLogo />
    </div>
    <div class="link-container">
      <span class="header-link">Leaderboards</span>
      <span class="header-link">Support</span>
      <span class="header-link">FAQ</span>
    </div>
  </header>
</template>
<script>
import AppLogo from '@/components/Logo'
export default {
  components: { AppLogo }
}
</script>

<style lang="scss" scoped>
@import '../../../scss/variables';

.header {
  display: flex;
  width: 100vw;
  padding: 10px 40px;
  box-sizing: border-box;
  @media (max-width: $first-break) {
    flex-direction: column;
  }
}

.logo-container {
  margin-right: auto;
  img {
    width: 150px;
  }
}

.header-link {
  font-weight: 400;
  font-size: 1rem;
  color: #fff;
  margin: 0 10px;
  @media (max-width: $first-break) {
    margin: 5px 0;
  }
}

.link-container {
  display: flex;
  @media (max-width: $first-break) {
    flex-direction: column;
  }
}

</style>
