<template>
  <div class="wrapper">
    <label :for="label" class="label">
      {{ label }}
    </label>
    <input
      :placeholder="placeholder"
      :type="inputType"
      :name="label"
      v-model="content"
      :style="inputType === 'password' && 'font-family: -apple-system, sans-serif'"
      class="input">
  </div>
</template>
<script>
export default {
  data () {
    return {
      content: ''
    }
  },
  props: {
    model: {
      required: true,
      type: String
    },
    inputType: {
      required: true,
      type: String
    },
    label: {
      required: true,
      type: String
    },
    placeholder: {
      type: String,
      required: false
    }
  },
  computed: {
    handleModel: {
      get: function () {
        return this.model
      },
      set: function (value) {
        this.model = this.content
      }
    }
  }
}
</script>
<style lang="scss" scoped>
@import '../../../scss/variables.scss';
.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.input {
  padding: 10px 0px;
  font-size: 1.5rem;
  border-radius: $border-radius;
  outline: none;
  border: none;
}
</style>
