<template>
<div class="app">
  <app-header></app-header>
  <body-content>
    <container size="large">
      <flex-container :gutters="true">
      <div style="flex: 1">
        <profile-card />
        <!-- style="position: fixed; width: 320px;" -->
      </div>
      <div style="flex: 2;">
        <flex-container direction="column" :v-gutters="true">
          <entry-card :editable="true"/>
          <entry-card :editable="true"/>
          <entry-card :editable="true"/>
        </flex-container>
      </div>
    </flex-container>
    </container>
  </body-content>
  <app-footer />
</div>
</template>

<script>
import AppCard from '@/components/Card'
import Container from '@/components/Layout/Container'
import Hero from '@/components/Hero'
import BodyContent from '@/components/Layout/Body'
import AppHeader from '@/components/Global/Header'
import ProfileCard from '@/components/User/ProfileCard'
import EntryCard from '@/components/Entry/EntryCard'
import AppFooter from '@/components/Global/Footer'

import FlexContainer from '@/components/Layout/FlexContainer'

export default {
  components: { AppCard, Container, Hero, BodyContent, FlexContainer, AppHeader, ProfileCard, AppFooter, EntryCard }
}
</script>
<style lang="scss">
.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
</style>
