<template>
  <div class="avatar">
    <img :src="src" class="image">
  </div>
</template>

<script>
export default {
  props: {
    src: {
      typpe: String,
      required: true
    }
  }
}
</script>
<style lang="scss" scoped>
@import '../../../scss/variables.scss';
.image {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  filter: $drop-shadow;
}
</style>
