<template>
  <div
    :class="['flex', ...classList]"
    :style="`flex-direction: ${direction || 'row'}`"
  >
    <slot></slot>
  </div>
</template>
<script>
export default {
  data () {
    return {
      classList: []
    }
  },
  props: {
    direction: {
      type: String
    },
    center: {
      type: Boolean
    },
    hCenter: {
      type: Boolean
    },
    gutters: {
      type: Boolean
    },
    vGutters: {
      type: Boolean
    }
  },
  mounted () {
    if (this.center) {
      this.classList.push('center')
    }
    if (this.hCenter) {
      if (this.direction === 'column') {
        this.classList.push('align-items-center')
      } else {
        this.classList.push('justify-center')
      }
    }

    if (this.direction === 'column') {
      this.classList.push('direction-column')
    }

    if (this.gutters || this.gutters === undefined) {
      this.classList.push('gutters')
    }

    if (this.vGutters) {
      this.classList.push('vert-gutters')
    }
  }
}
</script>
<style lang="scss" scoped>
@import '../../../scss/variables.scss';

  .flex {
    display: flex;
    flex-wrap: wrap;
    @media screen and (max-width: $first-break) {
      flex-direction: column !important;
    }
  }
  .center {
    justify-content: center;
    align-items: center;
  }

  .justify-center {
    justify-content: center;
  }

  .align-items-center {
    align-items: center;
  }

  .direction-column {
    flex-direction: column;
  }

  .gutters {
   >* {
     margin: 10px;
   }
  }
  .vert-gutters {
   >* {
     margin: 20px 0;
   }
  }

  .vert-gutters:first-child {
    >* {
      margin-top: 0;
    }
  }

</style>
