<template>
  <span class="tag">
    <a href="#">
      {{ label }}
    </a>
  </span>
</template>
<script>
export default {
  props: {
    label: {
      required: true,
      type: String
    }
  }
}
</script>
<style lang="scss" scoped>
.tag {
  background: rgba(#ccc, .5);
  padding: 3px 10px;
  border-radius: 20px;
  margin: 3px;
}
</style>
