<template>
  <div class="hero">
    <h1 v-if="title">{{ title }}</h1>
    <h2 v-if="subtitle">{{ subtitle }}</h2>
  </div>
</template>

<script>
export default {
  props: {
    title: {
      type: String,
      required: false
    },
    subtitle: {
      type: String,
      required: false
    }
  }
}
</script>
<style lang="scss" scoped>
@import '../../scss/variables.scss';

.hero {
  width: 100%;
  background: $default-gradient;
  height: $hero-height;
}

</style>
