<template>
  <svg width="20" height="22" viewBox="0 0 20 22" version="1.1" xmlns="http://www.w3.org/2000/svg"><path d="M10 21.373733c-2.653232.006729-5.199134-.998223-7.07077-2.791066C1.041539 16.7816 0 14.388 0 11.8404s1.041538-4.9412 2.92923-6.742267c.388596-.37046.954985-.515142 1.485816-.379544.53083.135598.945457.530875 1.087692 1.036934.142236.506058-.009528 1.046016-.398123 1.416477-1.307692 1.248133-2.027692 2.905467-2.027692 4.6684 0 1.762933.72 3.421733 2.027692 4.6684C6.412308 17.755467 8.149231 18.4404 10 18.4404c1.85077 0 3.587692-.6864 4.895385-1.9316 1.30923-1.246667 2.027692-2.904 2.027692-4.6684 0-1.7644-.72-3.421733-2.027692-4.6684-.388595-.37046-.54036-.910419-.398123-1.416477.142235-.506059.556861-.901336 1.087692-1.036934.53083-.135598 1.09722.009084 1.485815.379544C18.958461 6.900667 20 9.294267 20 11.8404s-1.041539 4.9412-2.92923 6.742267C15.199133 20.37551 12.653231 21.380462 10 21.373733zm0-11.107066c-.849669 0-1.538462-.65665-1.538462-1.466667V1.466667C8.461538.656649 9.150331 0 10 0s1.538462.656649 1.538462 1.466667V8.8c0 .810018-.688793 1.466667-1.538462 1.466667z" fill="#FD7298" fill-rule="nonzero" stroke="none" stroke-width="1"/></svg>
</template>
