<template>
  <div class="item" @click="alerter(label)">
    <span class="label">
      {{ label }}
    </span>
    <span class="icon">
      <component :is="iconComponent"></component>
    </span>
  </div>
</template>

<script>
import CogIcon from '@/components/Icons/CogIcon'
import MedalIcon from '@/components/Icons/MedalIcon'
import PowerIcon from '@/components/Icons/PowerIcon'
import CalendarIcon from '@/components/Icons/CalendarIcon'

export default {
  props: {
    label: String,
    url: String,
    icon: String
  },
  data () {
    return {
      iconComponent: ''
    }
  },
  mounted () {
    switch (this.icon) {
      case 'cog':
        this.iconComponent = CogIcon
        break
      case 'medal':
        this.iconComponent = MedalIcon
        break
      case 'power':
        this.iconComponent = PowerIcon
        break
      case 'calendar':
        this.iconComponent = CalendarIcon
        break
      default:
        break
    }
  },
  methods: {
    alerter (label) {
      alert(label)
    }
  }
}
</script>

<style lang="scss" scoped>
@import '../../../../scss/variables.scss';

  .item {
    width: 100%;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: 15px 20px;
    border-top: solid 1px rgba(#333, .2);
    &:hover {
      background: rgba($tertiary, .1);
      cursor: pointer;
    }
  }

  .label {
    margin-right: auto;
    color: $primary;
    font-weight: 400;
    font-size: 1.2rem;
  }
  .icon {
    display: flex;
    justify-content: center;
    align-items: center;
  }
</style>
