<template>
  <Card :padding=false>
    <flex-container
      :center=true
      :gutters="false"
      direction="column"
    >
      <flex-container class="profile-header" direction="column" :center=true>
        <avatar src="https://avatars.io/twitter/theomjones"/>
        <!-- https://ui-avatars.com/api/?background=A667FA&name=T&size=300&color=ffffff -->
        <span class="user-name">theomj</span>
        <span class="user-since">User since 2018</span>
      </flex-container>
    <card-list :data="mockData"/>
    </flex-container>
  </Card>
</template>
<script>
import Card from '@/components/Card'
import CardList from '@/components/Card/CardList'
import Avatar from '../Avatar'
import FlexContainer from '@/components/Layout/FlexContainer'

export default {
  components: { Card, Avatar, FlexContainer, CardList },
  data () {
    return {
      mockData: [
        { key: '34783', label: 'Settings', icon: 'cog' },
        { key: '34783a', label: 'Month', icon: 'calendar' },
        { key: '34783asd', label: 'Ranking', icon: 'medal' },
        { key: '3478asd3', label: 'Log Out', icon: 'power' }
      ]
    }
  }
}
</script>
<style lang="scss" scoped>
@import '../../../scss/variables.scss';

.profile-header {
  margin-top: 30px;
  margin-bottom: 50px;
}

.user-since {
  color: rgba(#333, .6);
  font-size: 0.9rem;
}

.user-name {
  margin: 5px 0;
  color: $secondary;
  font-weight: 600;
  font-size: 1.5rem;
}
</style>
