<template>
  <div class="card">
    <div :class="['card-content', ...classList]">
      <slot></slot>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    padding: Boolean
  },
  data () {
    return {
      classList: []
    }
  },
  mounted () {
    if (this.padding === false) {
      this.classList.push('no-padding')
    }
  }
}
</script>
<style lang="scss" scoped>
@import '../../scss/variables.scss';

.card {
  border-radius: $border-radius;
  background: $card-background;
  box-shadow: 0px 2px 4px 0px rgba(black, .5);
  transition: all 300ms ease-in-out;
}

.card-content {
  padding: 10px;
}

.no-padding {
  padding: 0;
}

p {
  color: #444;
}
</style>
