<template>
  <app-button label="Continue with Facebook."  style="background: #3b5998"/>
</template>
<script>
import AppButton from '../Button'

export default {
  components: { AppButton }
}
</script>
<style lang="scss" scoped>

</style>
