<template>
  <footer class="footer">
    <div class="footer-content">
      <p>Memzine</p>
    </div>
  </footer>
</template>
<script>
export default {

}
</script>
<style lang="scss" scoped>
@import '../../../scss/variables.scss';
  .footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100vw;
    padding: 20px;
    box-sizing: border-box;
    background: $default-gradient;
  }
  .footer-content {
    color: white;
  }
</style>
