<template>
  <transition name="fade">
    <div class="loading" v-if="active">
      <div class="animation">
        <svg width="13" height="32" viewBox="0 0 13 32" version="1.1" xmlns="http://www.w3.org/2000/svg"><path d="M12.125 6.0625H.875V2.546875C.875 1.38189936 1.8193994.4375 2.984375.4375h7.03125c1.1649756 0 2.109375.94439936 2.109375 2.109375V6.0625zm0 16.875L6.5 31.375.875 22.9375V7.46875h11.25V22.9375z" fill="#A667FA" fill-rule="nonzero" stroke="none" stroke-width="1"/></svg>
      </div>
      <!-- <span>Jotting rabbits...</span> -->
    </div>
  </transition>
</template>
<script>
export default {
  props: {
    active: {
      required: true,
      type: Boolean
    }
  }
}
</script>

<style lang="scss">
@import '../../../scss/variables.scss';

@keyframes penimation {
  0% {
    transform: translateX(-100px) rotate(45deg);
  }
  100% {
    transform: translateX(100px) rotate(-45deg);
  }
}

.animation {
  transform: scale(0.8);
  transform-origin: center;
  animation: penimation .6s $sine-transition infinite alternate;
}

.loading {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  left: 0;
  background: white;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: $border-radius;
}
</style>
