<template>
  <div class="container"
       :style="`max-width: ${this.width}`"
  >
    <slot></slot>
  </div>
</template>

<script>
export default {
  data () {
    return {
      width: '850px'
    }
  },
  props: {
    size: {
      type: String,
      required: true
    }
  },
  beforeMount () {
    switch (this.size) {
      case 'large': {
        this.width = '1000px'
        break
      }
      case 'medium' : {
        this.width = '850px'
        break
      }
      case 'small' : {
        this.width = '650px'
        break
      }
      default : {
        this.width = '850px'
      }
    }
  }
}
</script>

<style lang="scss" scoped>
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 5vh 1vw;
  }

</style>
