<template>
  <div :class="['button', loading && 'disabled']"
       @click="!loading && $emit('click', $event)"
  >
  <div v-if="loading" class="loader">
    <svg width="20" height="18" viewBox="0 0 20 18" version="1.1" xmlns="http://www.w3.org/2000/svg"><path d="M5.023812 16.580649c-2.142458-1.222336-3.678061-3.371668-4.136639-5.795716-.515866-2.726397.369613-5.592982 2.239511-7.625445C5.228568.914046 8.400602-.131841 11.430696.392518c4.415533.764162 7.52583 4.807521 7.822517 9.165766.075891 1.114498-.766049 2.079372-1.880547 2.155263-1.114499.07589-2.079508-.766049-2.155398-1.880548-.002022-.02952-.00337-.058906-.004044-.088157l-.003909-.186558s-.002157-.105142-.006201-.30208c-.00027-.049066-.000674-.103658-.001078-.163777-.017928-2.681375-2.362311-5.077924-4.92803-5.551734-7.21472-1.332195-9.870213 9.261741-3.745324 12.469766.069555.040035.138031.07953.20543.118217.06915.034912.139379.064432.207317.096244.137088.06295.269189.123609.396167.181976.260562.099884.507375.176449.728845.2549.222145.052706.420431.09975.592971.140593.083978.024264.174831.034238.256248.044887.081283.010919.155016.020759.221201.029656.264471.035316.405469.054188.405469.054188.181436.024398.309223.189794.287656.371634-.021433.177527-.125766.29507-.290217.365434-.970806.415578-4.037159-.814307-4.515957-1.087539z" fill="#FFF" fill-rule="nonzero" stroke="none" stroke-width="1"/></svg>
  </div>
  <span v-else>
    {{ label }}
  </span>
  </div>
</template>
<script>
export default {
  props: {
    label: {
      type: String,
      required: true
    },
    loading: {
      type: Boolean
    }
  }
}
</script>

<style lang="scss" scoped>
@import '../../../scss/variables.scss';

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: $secondary-gradient;
  color: white;
  padding: 10px;
  border-radius: $border-radius;
  box-sizing: border-box;
  text-align: center;
  // filter: $drop-shadow;
  box-shadow: $box-shadow;
  transition: all .3s ease-out;
  &:hover {
    // background: darken($tertiary, 10%);
    opacity: .9;
    cursor: pointer;
  }
}

@keyframes spin {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0);
  }
}

.loader {
  transform-origin: center;
  animation: spin infinite linear .4s reverse;
}

.disabled {
  &:hover {
    opacity: 1;
    cursor: default;
  }
}

</style>
