<template>
<div class="outer-wrap" :style="editing && 'margin-bottom: 65px;'">
  <card-loader :active="loading"/>
  <app-card :padding="true">
    <flex-container>
      <h1 class="title" @click="editMode">Today</h1>
      <div class="tags">
          <entry-tag v-for="tag in tags" :label="tag.toLowerCase()" :key="tag"/>
      </div>
    </flex-container>
    <div class="entry-content" contenteditable="false">
      <p ref="content"
        @click="editMode"
        @input="contentInput"
        @keydown.meta.enter="save"
        class="text-content">
        Today was...
      </p>
    </div>
    <!-- Word Count -->
    <transition name="fade">
      <div class="char-count" v-if="editing" :style="`color: ${countColor}`">
        <span v-if="countOver" style="color: tomato; opacity: 1">{{countOver}} &nbsp;</span>
        <span v-else>{{ charCount }} / {{ maxLength }}</span>
      </div>
    </transition>
    <!-- Helper -->
    <transition name="fade">
      <div class="info" v-if="editing">
        <span>CMD/CTRL + Enter to save</span>
      </div>
    </transition>
  </app-card>
  <transition name="slide-up">
    <div class="save-button" v-if="editing">
      <app-button :loading="loading" label="Save" @click="save"/>
    </div>
  </transition>
</div>
</template>
<script>
import AppCard from '@/components/Card'
import EntryTag from '../Tag'
import AppButton from '@/components/Action/Button'
import FlexContainer from '@/components/Layout/FlexContainer'
import CardLoader from '@/components/Card/CardLoader'

export default {
  components: { AppCard, EntryTag, AppButton, FlexContainer, CardLoader },
  props: {
    editable: {
      type: Boolean,
      required: true
    }
  },
  data () {
    return {
      contentText: '',
      titleText: '',
      charCount: 0,
      maxLength: 200,
      editing: false,
      tags: [],
      countColor: 'inherit',
      countOver: null,
      loading: false
    }
  },
  methods: {
    save (event) {
      if (this.editable) {
        this.$refs.content.innerText = this.contentText
        this.$refs.content.blur()
        this.loading = true
        setTimeout(_ => {
          this.editing = false
          this.loading = false
        }, 2000)
      }
      // this.handleTagReplace(event)
    },
    editMode (event) {
      if (this.editable) {
        this.editing = true
        event.target.contentEditable = true
        event.target.innerText = ''
        event.target.focus()
      }
    },
    // handleTagReplace (event) {
    //   const el = this.$refs.content
    //   el.innerHTML = el.innerText.replace(
    //     /#\S\w*/g,
    //     `<span style="text-decoration: underline">$&</span>`
    //   )
    // },
    contentInput (event) {
      let text = event.target.innerText
      let count = text.split('').length
      this.contentText = text
      this.charCount = count
      this.tags = text.match(/#\S\w*/g)
      if (this.charCount > this.maxLength) {
        this.countColor = 'tomato'
        this.countOver = this.maxLength - this.charCount
      } else if (this.charCount >= this.maxLength / 2) {
        this.countOver = null
        this.countColor = '#f90'
      } else {
        this.countColor = '#333'
      }
    },
    titleInput (event) {
      this.titleText = event.target.innerText
    }
  }
}
</script>
<style lang="scss" scoped>
@import '../../../scss/variables.scss';

.title {
  margin: 0;
  flex: 3;
  font-size: 1.5rem;
  padding: 5px;
  transition: all .2s ease-out;
  outline: none;
  border: solid 1px transparent;
}

.tags {
  margin: auto;
  margin-right: 0;
  display: flex;
  flex-wrap: wrap;
  max-width: 300px;
  @media (max-width: $first-break) {
    margin-right: auto;
    margin-left: 0;
  }
}

.text-content {
  max-width: 600px;
  overflow-x: hidden;
  padding: 5px;
  transition: all .2s ease-out;
  border: solid 1px transparent;
  outline: none;
  margin: 10px 0 30px 0;
  display: block;
}

.text-content:read-write:focus, .title:read-write:focus {
     border: solid 1px rgba($tertiary, .6);
     border-radius: $border-radius;
}

.outer-wrap {
  position: relative;
  transition: all $main-transition .3s;
}

// Bottom bar thing
.char-count, .info {
  position: absolute;
  opacity: 0.5;
  bottom: 10px;
}
.char-count {
  right: 15px;
}
.info {
  left: 15px;
  font-size: .8rem;
}

// Transitions
.fade-enter-active, .fade-leave-active {
  transition: all .3s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

.save-button {
  position: absolute;
  bottom: -50px;
  left: 0;
  width: 100%;
}

.slide-up-enter-active, .slide-up-leave-active {
  transition: transform .3s, opacity .3s;
}
.slide-up-enter, .slide-up-leave-to {
  transform: translateY(30px);
  opacity: 0;
}

</style>
