<template>
  <div id="app">
    <router-view/>
  </div>
</template>

<script>
// import 'normalize.css'

export default {
  name: 'App'
}
</script>

<style lang="scss">
@import './scss/variables.scss';

::selection {
  background: $secondary;
  color: white;
}

body, html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

body, h1, h2, h3, h4, h5, h6, p, ul, li, a, ol {
  font-family:  'Cera Pro', -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
  /* 'Cera Pro', */
}

p {
  font-size: 1.1rem;
  font-weight: 300;
  line-height: 1.5;
}
</style>
