// Palette

$primary: #2E4890;
$secondary: #FD7298;;
$tertiary: #A667FA;

$grey: rgba(#666, .4);

$light: white;
$light-text: #333;

$primary-text: #ffffff;
$secondary-text: #ffffff;
$tertiary-text: #ffffff;

// Gradients
$default-gradient: linear-gradient(-134deg, #C86DD7 0%, #3023AE 100%);
$secondary-gradient: linear-gradient(-90deg, $secondary 0%, $tertiary 100%);

$default-gradient-text: #fff;

// HERO COMPONENT HEIGHT
$hero-height: 250px;
$hero-half-height: $hero-height / 2;


// CARD

$card-background: #ffffff;

// Shadows
$drop-shadow: drop-shadow(-1px 2px 1px rgba(#000, .3));
$box-shadow: -1px 2px 2px rgba(#000, .3);

$first-break: 850px;

// Transitions
$main-transition: cubic-bezier(0.86, 0, 0.07, 1);

// radius
$border-radius: 6px;
$sine-transition: cubic-bezier(0.445, 0.05, 0.55, 0.95)
