<template>
  <main class="body">
    <slot></slot>
  </main>
</template>

<script>
export default {

}
</script>
<style lang="scss" scoped>
@import '../../../scss/variables.scss';

.body {
  // margin-top: $hero-height / 3;
  // min-height: 70vh;
  flex: 1;
  &:before {
    position: absolute;
    top: 0;
    content: '';
    z-index: -1;
    height: $hero-height;
    width: 100vw;
    background: $default-gradient;
  }
}
</style>
